.dynamicshadow{
    -webkit-filter: drop-shadow(0 0 20px rgb(235, 51, 51));
    filter: drop-shadow(0 0 20px rgb(235, 51, 51));
}
#home1{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
#home1 img{
    max-width: 600px;
}
#home1 h2{
    padding-top: 2px;
    background-color: transparent;
    background-image: url("../assets/heading1.png");
    background-size: contain;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgb(235, 51, 51);
    font-size: clamp(4rem, calc(7.5vw + 1.5rem), 10rem);
    line-height: 60%;
    /* padding: 4%; */
    border-radius: 20px;
    text-align: end;
    margin-left: 2vw;
    margin-right: 4vw;
}
#home1 h2 #note{
    font-size: clamp(3rem, calc(7vw + 1rem), 5rem);
}
#home1 p {
    padding: 2vw;
    border: 2px solid rgb(235, 51, 51);
    background-color: #fddede;
    border-radius: 4vw;
    margin-top: 3vw;
    max-width: 50vw;
    margin-left: 4vw;
    margin-right: 4vw;
    -webkit-filter: drop-shadow(0 0 10px rgb(235, 51, 51));
    filter: drop-shadow(0 0 10px rgb(235, 51, 51));
}
@media (max-width:880px){
    #home1{
        display: flex;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    #home1 h2{
        line-height: clamp(3.6rem, calc(10vw + 1.5rem), 3rem);
        max-width: 95%;
    }
    #home1 p{
        max-width: 95vw;
        padding: 5vw;
    }
}

