/* reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}



/* variables */
:root{
    --primary-bcg: rgb(19, 19, 19);
}
/* variables end */


body{
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    min-height:100vh;
    background:url("../assets/back5.jpg") no-repeat center center/cover;
    background-color: black;
    background-attachment: scroll;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position:sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 999;
}
.navbar-logo{
    margin-right: auto;
    padding: 10px;
    padding-left: 40px;
    text-decoration: none;
    cursor: pointer;
}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor:pointer;
}
.navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
    padding-right: 30px;
}
.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.8s ease;
    white-space: nowrap;
}
.navbar-menu li a:hover{
    color: black;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid white;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;

}


@media (max-width:880px){
    .navbar{
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }
    .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        background: transparent;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }
    .navbar-menu.active{
        display:flex
    }
    .navbar-toggle{
        display: block;
        z-index: 999;
        padding-right: 20px;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width:480px){
    .navbar-logo{
        padding-left: 30px;
    }
    .navbar-menu li a{
        font-size: 1.2rem;
        padding:3px 15px;
    }
}